
* {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 1px;
}

.cnt {

}

.title{}

.auth {
    font-weight: bold;
}

.subtitle{}


.timer-form {
}

.digits {
    font-weight: bold;
    text-align: right;
    font-size: 60px;
}

.unit {
    font-size: 60px;
}

.reset {
    font-weight: bold;
}

.inc-cnt {
}

.inc {
    font-weight: bold;
}

.cta-cnt {
}

.set {

}

.set, .reset, .inc, .clear {
    font-weight: bold;
    font-size: 14px;
}

.clear {
}

.due {
}