<html lang="en_US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{.Texts.Title}}</title>
    <link rel="stylesheet" href="{BASE_PATH}/assets/fonts/SansationBold/font.css">
    <link rel="stylesheet" href="{BASE_PATH}/assets/css/normalize.css">
    <link rel="stylesheet" href="{BASE_PATH}/assets/css/layout.css">
    <link rel="stylesheet" href="{BASE_PATH}/assets/css/layout-fluid.css">
    <link rel="stylesheet" href="{BASE_PATH}/assets/css/typo.css">
    <link rel="stylesheet" href="{BASE_PATH}/assets/css/typo-fluid.css">
    <link rel="stylesheet" href="{BASE_PATH}/assets/css/styles.css">
</head>
<body>
<div class="background"></div>
<div class="cnt authorized-{{.IsAuthorized }}">
    <h1 class="title">{{.Texts.Title}}</h1>
    {{ if not .IsAuthorized }}
        <strong class="subtitle">{{.Texts.Unauthorized}}</strong>
        <form action="{{ .AuthURL }}" method="get">
            <button type="submit" class="auth">{{.Texts.ToSpotifyAuthorization}}</button>
        </form>
    {{else}}
        <strong class="subtitle">{{.Username}}</strong>
        <form id="timer-form" class="timer-form" method="post">
            <input class="digits" id="h" value="0" type="text" name="h"/><span class="unit">h</span>
            <input class="digits" id="m" value="0" type="text" name="m"/><span class="unit">m</span>
            <button class="reset" onclick="reset()" type="button">Reset</button>
        </form>
        <div class="inc-cnt">
            {{ range .Controls}}
                <button class="inc" onclick="inc({{ .Value }})">{{ .Name }}</button>
            {{end}}
        </div>
        <div class="cta-cnt">
            <button form="timer-form" class="set" type="submit">{{.Texts.SetTimer}}</button>
            <div>
                <form action="{{.ClearURL}}" class="timer-is-set-{{.Timer.IsSet}}">
                    <button class="clear"{{ attrNot .Timer.IsSet `disabled="disabled"`}}>
                        {{.Texts.ClearTimer}}
                        <span id="due" class="due">{{.NoDueDisplay}}</span>
                    </button>

                </form>
            </div>
        </div>

    {{end}}
</div>

<script type="text/javascript">
    let timer = {};
    let due = 0;
    let dueInterval = null;

    function inc(value) {
        timer.m += value;
        updateDisplay();
    }

    function reset() {
        resetTimer();
        updateDisplay()
    }

    function setValue(id, value) {
        document.getElementById(id).value = value;
    }

    function getValue(id) {
        return document.getElementById(id).value;
    }

    function normalizeTimer() {
        if (timer.m >= 60) {
            timer.m = timer.m - 60;
            timer.h++;
        }

        if (timer.h > 23) {
            timer.h = 0;
        }
    }

    function updateDisplay() {
        normalizeTimer();
        setValue("h", timer.h);
        setValue("m", timer.m);
    }

    function isInitialRender() {
        return "{{.Timer.IsSet}}" !== "true";
    }

    function resetTimer() {
        timer = {
            h: 0,
            m: 0,
            s: 0,
        };
    }

    function displayDue() {
        document.getElementById("due").innerHTML = durationToDisplay();
    }

    window.onload = () => {
        if (isInitialRender()) {
            resetTimer();
        } else {
            due ={{.Due}};
            timer = {
                h: {{.Timer.Hours}},
                m:  {{.Timer.Minutes}},
            };
            displayDue();
            dueInterval = setInterval(displayDue, 1000);

        }
        updateDisplay();
    };

    function durationToDisplay() {
        due++;
        if (due >= 0) {
            clearInterval(dueInterval)
            due = 0;
            location.reload();
        }
        const date = new Date(0);
        date.setSeconds(due * -1);

        return date.toISOString().substr(11, 8);
    }
</script>
</body>
</html>